body {
    margin: 0;
}

#root {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
}

#game {
    position: relative;

    width: 1000px;
    height: 800px;

    background-color: #000000;
}

.game-entities {
    position: static;
}

.entity {
    --width: 64px;
    --height: 64px;
    --sprite-scale: 2;

    width: calc(var(--width) * var(--sprite-scale));
    height: calc(var(--height) * var(--sprite-scale));

    position: absolute;
}

.player {
    --width: 32px;
    --height: 64px;

    background-image: url("sprites/larry.png");

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
