#root {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game {
    position: relative;

    width: var(--game-width);
    height: var(--game-height);

    background-color: #000000;
}

.game-entities {
    position: static;
}

.entity {
    /* --width: 64px; */
    /* --height: 64px; */

    position: absolute;

    /* width: var(--width); */
    /* height: var(--height); */

    display: flex;
    justify-content: center;
    align-items: center;
}

.entity-label {
    /* position: absolute; */
    /* top: -0.5rem; */
    /* transform: translateY(-100%); */

    width: auto;
    max-width: 128px;
    height: auto;
    padding: 0.2rem 0.5rem;

    transform: translateX(-50%) translateY(calc(-100% - 8px));

    font-size: 1rem;
    text-align: center;

    background-color: #ffffff66;
}

.sprite {
    --sprite-src: "url(/sprites/larry.png)";
    --sprite-width: 0px;
    --sprite-height: 0px;
    --sprite-x: 0px;
    --sprite-y: 0px;
    --image-width: var(--sprite-width);
    --image-height: var(--sprite-height);

    width: var(--sprite-width);
    height: var(--sprite-height);

    background-image: var(--sprite-src);

    background-position: calc(-1 * var(--sprite-x)) calc(-1 * var(--sprite-y));
    background-size: var(--image-width) var(--image-height);
    background-repeat: no-repeat;

    image-rendering: pixelated;
}

.player {
}

.player-sword {
    /* animation origin: */
    /* bottom left corner of the player sprite */
    transform-origin: 0% 100%;
}

.player-sword-attacking {
    animation: sword-swing 0.5s ease-in-out;
}

@keyframes sword-swing {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
