@font-face {
    font-family: "undefined-medium";
    src: url("/fonts/undefined-medium.woff2");
}

:root {
    --game-width: 1000px;
    --game-height: 800px;
}

body {
    margin: 0;
    font-size: 20px;
    font-family: "undefined-medium", monospace;
}

button {
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    border: none;
}

input[type="text"] {
    font-family: inherit;
}

.fps {
    position: fixed;
    top: 0;
    left: 0;

    font-size: 1rem;
    color: #000000;
    background-color: #cccccc44;
    padding: 0.5rem 1rem;
}
